{% include 'incl/headsection.twig' %}

<body>
    <div class="pagewrapper">
        {% include 'incl/pageheader.twig' %}

        <div class="main" role="main">
            {{ content }}
            <div class="gallerywrapper">
                {% for image in meta.Images %}
                <div class="galleryimage">
                    <a href="{{base_url}}/image/gallery/{{ image.file }}">
                        <picture>
                            <source media="(min-width: 800px)" srcset="{{base_url}}/image/gallery/{{ image.file }}?w=500&h=500&crop-to-fit">
                            <source media="(min-width: 600px) and (max-width: 800px)" srcset="{{base_url}}/image/gallery/{{ image.file }}?w=250&h=250&crop-to-fit">
                            <img src="{{base_url}}/image/gallery/{{ image.file }}?w=125&h=125&crop-to-fit" alt="{{ image.alt }}" class="galleryimage" />
                        </picture>
                    </a>
                    <p>{{ image.alt }}</p>
                </div>
                {% endfor %}
                <h2>{{ meta.VideoTitle }}</h2>
                <div class="embed-container">
                    <iframe src="{{ meta.Video }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        {% include 'incl/footer.twig' %}
    </div>
</body>

</html>